@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input,
  textarea {
    @apply outline-none border border-neutral-700 focus:border-neutral-400 rounded bg-transparent px-1;
  }

  body {
    @apply bg-[#1c1c1c] text-[#fafafa];
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  #md h1 {
    @apply text-5xl text-neutral-100 mb-4 mt-6 font-medium;
  }

  #md h1::after {
    content: "";
    @apply block border-b mt-3 border-neutral-400;
  }

  #md h2 {
    @apply text-4xl text-neutral-100 mb-4 mt-6 font-medium;
  }

  #md h2::after {
    content: "";
    @apply block border-b mt-3 border-neutral-400;
  }

  #md h3 {
    @apply text-3xl text-neutral-100 mb-4 mt-6 font-medium;
  }

  #md h4 {
    @apply text-2xl text-neutral-100 mb-4 mt-6 font-medium;
  }

  #md ul {
    @apply list-disc list-inside my-2;
  }

  #md ul ul {
    @apply ml-4;
  }

  #md a {
    @apply text-amber-400 underline decoration-2 decoration-amber-500;
  }

  #md blockquote {
    @apply border-l-4 pl-4 my-4 border-amber-500 text-neutral-400;
  }

  #md code:not(pre code) {
    @apply bg-neutral-700 rounded px-1;
  }

  #md code {
    @apply font-jetbrains;
  }

  #md pre {
    @apply block bg-neutral-900 rounded p-2 my-2;
  }

  #md td {
    @apply border border-neutral-600 p-2;
  }

  #md strong {
    @apply font-semibold;
  }
}
